<h2>Sign Up</h2>
<% if @user.errors.present? %>
    <ul>
        <% @user.errors.full_messages.each do |err|%>
            <li><%= err %></li>
        <% end %>
    </ul>
<% end %>
<%= form_for @user do |f|%>
    <%= f.label :handle %>
    <%= f.text_field :handle %>
    <%= f.label :email %>
    <%= f.text_field :email %>
    <%= f.label :password %>
    <%= f.password_field :password %>  
    <%= f.submit "Sign Up"%>
<% end %>

